@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*-HEADERTOP-*/

body {
    transition: all ease .5s;
    font-family: "Poppins", sans-serif;
}

.headertop-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px;
}

.bangkokTitle p {
    padding: 30px;
    font-size: 30px;
    font-weight: 400;

}

.modes-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.darkmode p {
    font-size: 15px;
}


.darkmodebutton {
    display: flex;
    align-items: center;
    width: 40px;
    height: 20px;
    padding: 0 6px;
    border-radius: 50px;
    background-color: rgb(225, 225, 226);
    box-shadow: inset 4px 4px 6px rgb(108, 109, 109);
    cursor: pointer;
    position: relative;
}

.sun-mode{
    background-color: rgb(255, 213, 0);
    border-radius: 60px;
    width: auto;
    height: 16px;
    position: relative;
   
}

/* MAIN */

img {
    display: flex;
    justify-content: center;
    margin: 30px;
    width: 100%;
    height: auto;
}

.h1title {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    margin: 30px;

}

.paragraph {
    text-align: center;
    margin: 30px;
}

/*DARKMODE*/

.dark-mode {
    background-color: rgb(4, 4, 4);
    color: white;
}

.dark-mode .headertop-container {
    background-color: rgb(4, 4, 4);
}

.dark-mode .darkmodebutton {
    background-color: rgb(214, 213, 213);

}

.dark-mode .bangkokTitle p {
    color: rgb(255, 213, 0);
}

.dark-mode .darkmode p{
    color: white;

}
.dark-mode .sun-mode {
    background-color: rgb(2, 2, 131);
    transform: translateX(-35px);
}

.dark-mode .h1title {
    color: rgb(255, 213, 0);
}